name: Release

on:
  push:
    branches: [ main ]

jobs:
  publishMavenCentral:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    environment: CD

    steps:
      - name: Set environment for version
        uses: hfhbd/actions/setup-version@main
        id: version
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Release maven artifacts
        run: ./gradlew publishAllPublicationsToMavenCentralSnapshotRepository -Pversion=${{ steps.version.outputs.version }}
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralSnapshotUsername: ${{ secrets.CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralSnapshotPassword: ${{ secrets.CENTRAL_PASSWORD }}

  publishGitHubPackages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set environment for version
        uses: hfhbd/actions/setup-version@main
        id: version
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Release maven artifacts
        run: ./gradlew publishAllPublicationsToGitHubPackagesRepository -Pversion=${{ steps.version.outputs.version }}
        env:
          ORG_GRADLE_PROJECT_GitHubPackagesUsername: ${{ github.actor }}
          ORG_GRADLE_PROJECT_GitHubPackagesPassword: ${{ github.token }}
